<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
</head>
<body>
<h1>Add New Book</h1>
<form action="/books/add" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn"><br><br>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre"><br><br>

    <label for="year">Year:</label>
    <input type="text" id="year" name="year"><br><br>

    <label for="bookStoreId">Bookstore:</label>
    <select id="bookStoreId" name="bookStoreId">
        <!-- Овде треба да се итерира низ книжарниците за приказ -->
        <option th:each="bookStore : ${bookStores}"
                th:value="${bookStore.id}"
                th:text="${bookStore.name}"></option>
    </select><br><br>

    <input type="submit" value="Add Book">
</form>
</body>
</html>
